#navbar {
  background: linear-gradient(180deg, rgba(40, 83, 206, 1) 0%, rgba(40, 83, 206, 1) 100%);
  max-width: 100%;
  margin-bottom: 50px;
  position: static;
}
.btn img {
  width: 15px;
}
.details p{
  display: none;
  margin-top: 30px;
  padding: 0;
}
.details p.show-details{
  display: block;
}
.details{
  grid-column: span 4;
 }
#our-projects .btn {
  margin-top: 0;
  margin-right: 0;
}
#our-projects .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#our-projects .navigation {
  position: static;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.swiper-info {
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: center;
}
.swiper-slide picture img {
  width: 900px;
  max-height: 600px;
}
.swiper-button-disabled {
  opacity: 0.3;
}
.btn-next,
.btn-prev {
  width: 65px;
  max-width: 65px;
  height: 15px;
  border-radius: 50px;
  background: var(--primary-color);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .burger {
    display: none;
  }
  .swiper-slide picture img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 10px;
  }
  .swiper-info div:nth-child(2),
  .swiper-info div:nth-child(3) {
    display: none;
  }
  .swiper-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .btn-next,
  .btn-prev {
    display: none;
  }
}
